*{
    max-height: 100%;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}

:root{
    --to-anim: 11%;
    --to-animMob: 26%;
    --height-pic: 60vh;
    --height-PrincPic: 80vh;
}

@font-face {
    font-family: mohol_light;
    src: url('../fonts/Mohol-Light.ttf');
}
@font-face {
    font-family: mohol_regular;
    src: url('../fonts/Mohol-Regular.ttf');
}
@font-face {
    font-family: mohol_bold;
    src: url('../fonts/Mohol-Bold.ttf');
}
@font-face {
    font-family: mohol_black;
    src: url('../fonts/Mohol-Black.ttf');
}
@font-face {
    font-family: mohol_ultra;
    src: url('../fonts/Mohol-Ultra.ttf');
}
@font-face {
    font-family: cooper_black;
    src: url('../fonts/CooperBlackStd.otf');
}
@font-face {
    font-family: font_text_regular;
    src: url('../fonts/Alegreya-Regular.ttf');
}
@font-face {
    font-family: mohol_thin;
    src: url('../fonts/Mohol-Thin.ttf');
}



.us-div{
    text-align: left;
}
button{
    font-family: text_font_regular;
}
button:hover{
    background-color: white;
    color: black;
    border: solid ;
    border-color: #554f4f;
    font-family: text_font_regular;
}
body::-webkit-scrollbar{
    display: none;
}
h1{
    font-size: 23px;
    font-family: mohol_light;
}
h2{
    font-size: 17px;
    font-family: mohol_light;
}
h4{
    font-size: 16px;
}
label{
    font-family: mohol_light;
}

p{
    font-size: 18px;
    font-family: font_text_regular;
}
.placeholder{
    font-family: font_text_regular;
}
a{
    color: black;
    text-decoration: none;
}




            /*MADE BY: FRANK PÉREZ +5353103058  +++++++++++++++++++++++++++++++++++++++++++
            ***********Adrian Valdes****************************************************
            ++++++++++ DAVID LI    +5353093529    */



/*Presentation******************/

.Presentation{
    background-color: #cecece;
    height: 100vh !important;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.Networks{
    width: 33%;   
}
.Promo_Pic{
    z-index: 2;
    width: 33%;
}
.pic-div{
    position: fixed;
    text-align: center;
    top: 10%;
    width: 100%;
}
.Nav_menu{
    margin-top: 3%;
    width: 30%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    text-align: right;
}


.network-div{
    position: absolute;
    width: 20%;
    left: 7%;
    bottom: 5%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.Link_net{
    padding-top: 2% !important;
}
.Link{
    width: 45%;
    margin-bottom: 3%;
}
.Link:last-of-type{
    margin-bottom: 1%;
}


.Nav_menu p{
    font-family: mohol_regular;
    margin-top: 5%;
    margin-right: 26%;
    color: white;
    cursor: pointer;
}
.Nav_menu p:hover{
    font-family: mohol_black;
}
.WhiteLogo{
    padding-left: 34%;
    max-width: 50%;
}
.White_Stick{
    width: 12%;
    margin-left: 72%;
    padding-top: 3% ;
}
.Nav_menu a:first-of-type{
    margin-top: 8%;
}
.Link1{
    width: 34%;
    margin-left: 49%;
}
.Link2{
    width: 40%;
    margin-left: 42.8%;
}
.Link3{
    width: 32%;
    margin-left: 51.5%;
}
.Link4{
    width: 25%;
    margin-left: 58%;
}
.Link5{
    width: 19%;
    margin-left: 64.2%;
}
#ed1{
    position: fixed;
    width: 30%;
    top: -90%;
    animation-name: ED1;
    animation-duration: 51s;
    z-index: 3;
    animation-iteration-count: infinite;
}
#ed2{
    position: fixed;
    width: 30%;
    top: -90%;
    animation-name: ED2;
    animation-duration: 51s;   
    z-index: 2;
    animation-iteration-count: infinite;
}
#ed3{
    position: fixed;
    width: 30%;
    animation-name: ED3;
    animation-duration: 51s;   
    z-index: 1;
    animation-iteration-count: infinite;
}



@keyframes ED2 {
    0%{}
    29%{top: -90%;}/*sec 15*/
    33%{top: var(--to-anim);} /*sec 17*/
    90%{visibility: hidden;}
    100%{top: var(--to-anim);visibility: hidden;}
}
@keyframes ED1 {
    0%{}
    63%{top: -90%;} /*sec 32*/
    67%{top: var(--to-anim);} /*sec 34*/
    100%{top: var(--to-anim);}
}
@keyframes ED3 {
    0%{top: var(--to-anim);z-index: 1;}
    32.5%{z-index: 1;}
    33%{top: var(--to-anim); visibility: hidden;}
    34%{top: -90%; visibility: hidden;}
    96%{top: -90%;z-index: 4;}/*sec 49*/
    100%{top: var(--to-anim);z-index: 4;}/*sec 51*/
}
/*end of presentation***********/





/*Layout****************************/

.logorevista{
    cursor: pointer;
    
}
header{
    padding: 1% 7%;
    padding-bottom: 0%;
    top: 0;
    z-index: 5;
    position: sticky;
    background-color: white;
    border-bottom: solid;
    border-color: #6e6a6a;
}
.header-div{
    display: flex;
    justify-content: space-around;
    margin-top: -1.5%;
}
.logorevista{
    width: 20%;
    padding-top: 1.5%;
}
.nav_bar{
    display: flex;
    justify-content: space-around;
    width: 95%;
    padding-top: 3.5%;
    margin-left: 6%;
    margin-right: -3.5%;
    font-family: mohol_light;
}
.LinkNav{
    color: black;
    margin-left: 2%;
    height: 10%;
}
.Link{
    cursor: pointer;
}
.nav_bar h2:hover{
    text-decoration: underline ;
    font-family: mohol_bold;
}
.LinkNav:first-of-type{
    margin-left: 0;
}
.nav_bar h2{
    margin-bottom: 2%;
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    font-family: mohol_light;
}
.pestana_actual {
    font-family: mohol_ultra !important;
}
footer{
    position: relative;
    bottom: 0;
}
.infofooter{
    display: flex;
    justify-content: space-between;
    padding: 2% 7%;
    background-color: #e1e1e1;
}

.infofooter p{
    margin-top: 2.8%;
    font-size: 20px;
    font-family: mohol_thin;
}

.infofooter a{
    margin-top: 2.5%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: mohol_thin;
}
.infofooter span{
    cursor: pointer;
    margin-top: 2.5%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: mohol_thin;
}
/*End of Layout*********************/



/*-------------------------------revista desk verion*/

.Search_Bar{
    display: flex;
    justify-content: space-between;
}

.inferior{
    display: flex;
}

.barra_izq{
    width: 25%;
    margin-right:50%;
    padding-left: 6%;
    margin-top: 1%;
}

.barra_derch{
    width: 35%;
    margin-top: 2%;
    display: flex;
}
.links_redes{
    display: flex;
    width: 40%;
    margin-top: 1%;
    margin-left: 4%;
}
.links2follow{
    width: 80%;
}
.LineaLinks{
    width: 45%;
}
.search{
    width: 60%;
    margin-left: 2%;
    pointer-events: initial;
}

.to-search{
    width:30%;
    margin-left: 25%;
    cursor: pointer;
}

.letter{
    margin-left: 2%;
    margin-right: 0%;
    width: 39.6%;
    text-align: left;
}

.findicon{
    display: flex;
    justify-content: space-around;
}

.letterimg{
    padding-left: 20% ;
    cursor: pointer ;
}
.Letter-div{
    max-width: 26%;
    margin-left: 3%;
}
.letter_line{
    max-width: 35%;
}
input:focus{
    outline: none;
}

.input-search{
    width: 70%;
    border: none;
    padding-left: 5%;
}


.principal_div{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 5% 5%;
    margin-top: 2%;
}
.princ_derch{
    width: 40%;
    margin-top: 9%;
    margin-left: -5%;
    margin-right: 5%;
}

.princ_izq{
    width: 70%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.inforev{
    padding-right: 15%;
    line-height: 26px;
}

.Downloadbutton{
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    margin-top: 5%;
    width: 30%;
    height: 7%;
}

.linea_edic {
    width: 90%;
    margin: 0 5%;
}

.big_rect {
    max-width: 55.6%;
} 

.rectspeqs{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.RectPeq{
    margin-top: 3.6%;
    margin-left: 4.3%;
    width: 60.9%;
}
.RectPeq:first-of-type{
    margin-top: 0%;
}




.networksft{
    margin-top: 1%;
}
.networksft a{
    
    display: inherit;
}
.infofooter a:hover{
    text-decoration: underline;
    font-family: mohol_regular;
    margin-top: 2.5%;
    margin-left: -0.7%;
    margin-right: 0;
    width: 15%;
}
.infofooter span:hover{
    text-decoration: underline;
    font-family: mohol_regular;
    width: 10%;
}
.span:hover{
    text-decoration: underline;
    font-family: mohol_regular;
    margin-top: 2.5%;
    margin-left: -0.7%;
    margin-right: 0;
    width: 15%;
}
.span{
    cursor: pointer;
    margin-top: 2.5%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: mohol_thin;
}
.Insta:hover{
    margin-top: 2% !important;
}


/*-----------------------------------end revista desk version*/










/* --------------------------------------- failed search desk version*/

.failed-div{
    margin: 1.5% 0;
    text-align: center;
    height: auto;
}
.failed-div p{
    margin: 3% 0;
    font-size: 25px;
    font-weight: 800;
}
.failed_svg{
    margin: 6.5% 0;
    max-width: 100%;
}
.failedbutton{
    font-size: 16px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 1% 0;
    margin-top: 2%;
    width: 20%;
}
.failedbutton:hover{
    padding: 0.85% 0;
    border-width: 2px;
}

/*-----------------------------------end failed search desk version*/









/* --------------------------------------- about us desk version*/

.titular{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
    margin-top: 3%;
}
.add{
    font-size: 16px;
}

.titular_izq{
    width: 50%;
    margin-top:2%;
}
.titular_izq h1{
    font-size: 38px;
    font-weight: 800;
}
.titular_derch{
    width: 90%;
    padding-left: 3%;
}
.titular_derch p{
    font-size: 16px;
    line-height: 25px;
}
.container_about_us{
    margin: 0 9%;
}
.columnas{
    display: flex;
}
.columna{
    width: 33%;
    margin-left: 5%;
}
.columna h2{
    margin-bottom: 3%;
    font-size: 25px;
}
.columna:first-of-type{
    margin-left: 0;
}
.columna a{
    color: black;
    text-decoration: underline;
}
.columna p{
    font-size: 16px;
    line-height: 25px;
}
.formulario_contacto{
    margin-top: 8%;
    background-color: #cecece;
}
.contact_cont p{
    font-size: 16px;
    padding-right: 30%;
    line-height: 25px;
    padding-bottom: 3%;
}
.contact_cont h1{
    font-size: 35px;
}
.contact_cont input{
    width: 45%;
    padding-bottom: 1.5%;
    margin-bottom: 3%;
    margin-top: 1%;
}
.contact_cont textarea{
    margin-top: 1%;
    width: 75%;
    padding-bottom: 15%;
}
.contact_cont label{
    font-size: 20px;
}
.contact_cont{
    padding: 5% 8%;
}
.send{
    width: 15%;
}
.info_gral{
    margin-top: 9%;
    display: flex;
}
.container_peq{
    margin-top: 2%;
    width: 52%;
    line-height: 27px;
    margin-left: 14%;
}
.container_peq a{
    color: black;
    text-decoration: underline;
}
ol{
    font-size: 16px;
    padding-left: 2.8%;
}
.lineamenor{
    max-width: 25%;
}
.lineamenor_body{
    width: 28%;
    margin-top: 1%;
}
.linea_larga{
    width: 100%;
}
.the_next{
    font-size: 35px;

}
.sendbutton{
    font-size: 16px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 1% 0;
    margin-top: 2%;
    width: 20%;
}
.sendbutton:hover{
    padding: 0.8% 0;
    border-width: 2px;
    
}

/*-----------------------------------end about us desk version*/









/*--------------------------formulario*/
#FormDesk{
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 8;
    display: none;
}
.form_letter{
    position: absolute;
    top: 26.5%;
    left: 35%;
    z-index: 6;
    width: 32%;
    background-color: white;
}
.cont_form{
    text-align: center;
}
.cont_form input{
    width: 78%;
    margin: 2% 0;
    padding: 2% 3%;
}
.cont_form input::placeholder{
    font-size: 18px;
}
.fondo_atenuado{
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: 8;
    backdrop-filter: blur(3.3px);
    background-color: rgba(102, 101, 101, 0.288);
}
.Suscribir{
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 24px;
    border: solid;
    border-color: black;
    margin: 5% 0;
    margin-bottom: 7%;
    width: 50%;
    padding: 1.5% 0;
}
.stick{
    margin-left: 43%;
    margin-top: -2%;
    margin-bottom: 2%;
    width: 19%;
}
.live_mail{
    padding: 0 10%;
    text-align: center;
    margin-bottom: 7.5%;
}
.live_mail p{
    font-size: 18px;
}
.cerrar_form {
    cursor: pointer;
    width: 7%;
    margin-left:90%;
    margin-top: 4%;
}


/*---------------------end of furmulario*/











/*--------------------------------- search result------*/
.tarjetas{
    display: flex;
    justify-content: space-around;
    padding: 3% 0%;
}
.PicSearch{
    width: 50vw;
    height: var(--height-pic);
    background-image: url('/Invited.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.tarjeta{
    width: 45%;
}
.invit_tarjeta {
    width: 97%;
    margin: 0 1%;
}
.tarjeta p{
    font-size: 20px;
    margin-left: 4%;
}
.results h1{
    margin-top: 4%;
    font-size: 25px;
}

/*---------------------------------end search result------*/








/*----------------------------------Articulo-----------------*/

.lineasubt{
    width: 50%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.main_article p{
    line-height: 150%;
    margin-bottom: 5%;
}
.footer_art{
    margin-top: 0;
}
.info_art{
    width: 72%;
}
.promo_colum{
    width: 27%;
    margin-left: 2%;
}
.contenedor_art{
    padding-left: 10%;
    width: 87%;
}
.cont{
    width: 92%;
    margin-left: 10.2%;
}
.fecha_public{
    font-family: mohol_light;
    font-weight: 400;
    margin-right: 2%;
    font-size: 13px;
}
.publicacion_art{
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    width: 100%;
}
.fecha{
    width:40%;
}
.linea_fecha{
    width: 100%;
}
.linea_fecha_img{
    padding-right: 3% !important;
}
.keywords{
    font-family: mohol_thin;
    margin-top: 1%;
    margin-bottom: 5%;
}
.contenedor_art h1{
    font-size: 40px;
}
.contenedor_tit{
    width: 80%;
}
.contenedor_tit p{
    font-family: cooper_black;
}
.contenedor_tit h1{
    font-weight: 450;
}
.contenedor_tit h2{
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: 200;
}
.contenedor_tit a{
    margin-right: 2%;
    text-decoration: none;
}
.share-div{
    display: flex;
}
.share{
    max-width: 13%;
}
.home-button{
    width: 30%;
}
.share:last-of-type{
    margin-right: 50%;
}
.pic_art{
    width: 95%;
    margin-right: -2%;
    margin-left: 10%;
    margin-top: -5%;
    margin-bottom: 7%;
}
.main_article {
    display: flex;
    justify-content: space-around;
}

.linea_promo{
    width: 65%;
    padding-top: 20% !important;
}
.linea_promo2 {
    margin-top: 0%;
}
.siguenos{
    margin-right: 38%;
}
.siguenos h2{
    font-weight: 400;
    margin-top: 7%;
    margin-bottom: 15%;
}
.LinkArt{
    margin-left: 4%;
}
.LinkArt:first-of-type{
    margin-left: 0%;
}
.reciente{
    margin-top: 2%;
}
.Links{
    max-width: 20%;
}
.LinkFollow{
    display: flex;
}
.reciente p{
    font-weight: 800;
    margin-right: 50%;
    color: #7f7d7d;
}
.reciente h2{
    margin: 9% 0;
}
.reciente a{
    text-decoration: none;
}
.reciente{
    margin-bottom: -20%;
}
.coment{
    display: flex;
    margin-left: 18%;
    margin-bottom: 3%;
}
.vert_line{
    margin-top: 2%;
    height: 20vh;
    max-width: 1.5vw;
}

.coment p{
    margin: 1% 2% 0 2%;
}
.Home_art{
    position: sticky;
    top: 80%;
    z-index: 7;
    left: 87%;
    margin-bottom: 5%;
}
.pie_foto{
    margin-top: -7%;
    font-size: 13px;
}
.lineaPromo{
    width: 70%;
}
.PromoImg{
    width: 62%;
    margin: 5% 0;
}

/*----------------------------------end of Articulo-----------------*/


/*Graphic Design***********************************/
.PrincipalArt{
    text-align: center;
    background-image: url('/Invited.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: var(--height-PrincPic);
    margin-top: 2%;
    
}
.PrincLink{
    cursor: pointer;
}
.PicBy{
    transform: rotate(-90deg);
    font-family: cooper_black;
    margin-left: 75%;
    margin-right: -10%;
    margin-bottom: -12.5%;
    margin-top: 8%;
}
.PicByPrinc{
    position: relative;
    font-family: cooper_black;
    transform: rotate(-90deg);
    margin-left: 75%;
    margin-right: -10%;
    top: 10%;
}
.LinkArt{
    cursor: pointer;
}
.contenedor{
    margin: 0% 5.5%;
}
.NameLabel{
    position: relative;
    margin-top: -10%;
    margin-left: 7%;
    margin-bottom: 5%;
    width: 30%;
    padding: 0.2%;
    padding-top: 0;
    background-color: white;
    color: black;
}
.NameLabel p{
    font-family: mohol_regular;
    text-align: left;
    padding-left: 5%;
}
.Inviteds_line{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    text-align: center;
}
.Invitation_card{
    max-width: 49.5%;
    cursor: pointer;
}
button{
    font-family: mohol_regular;
}
button:hover{
    font-family: mohol_regular;
}
.invited{
    width: 50vw;
    
    height: var(--height-pic);
    margin-bottom: 3%;
    background-image: url('/Invited.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.Invited-description{
    width: 70%;
    text-align: left;
    padding-left: 2%;
}
.Tittle{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin: 3% 0;
}
.LineDownload{
    width: 75%;
}
.Info-to-Download{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    margin: 3.5% 3%;
}

.tittle_image{
    margin-top: -1.5%;
    width: 85%;
    margin-bottom: 3%;
}
.CategoryLabel{
    position: relative;
    margin-top: -25%;
    margin-left: 14.1%;
    width: 28%;
    padding: 0.4% 2%;
    padding-top: 0%;
    background-color: white;
    font-size: 18px;
    font-family: mohol_regular;
    font-variant-caps: all-small-caps;
    text-align: left;
    color: black;
}
.CategoryLabelPrinc{
    position: relative;
    margin-top: -17%;
    margin-bottom: 20%;
    margin-left: 7%;
    width: 14.5%;
    padding: 0.4% 2%;
    padding-top: 0%;
    background-color: white;
    font-size: 23px;
    font-family: mohol_regular;
    font-variant-caps: all-small-caps;
    text-align: left;
    color: black;
}
.TittleLabelPrinc{
    position: relative;
    margin-top: -18.5%;
    margin-bottom: 8%;
    margin-left: 7%;
    width: 40%;
    padding: 2% 2%;
    background-color: white;
    color: black;
    font-size: 30px;
    font-family: mohol_bold;
    text-align: left;
}
.TittleLabel{
    position: relative;
    margin-top: 2%;
    margin-left: 14.1%;
    width: 65.5%;
    padding: 2% 3%;
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: mohol_regular;
    text-align: left;
}
.Tittle h1{
    font-family: mohol_bold;
}
.tittle h1{
    font-family: mohol_ultra;
}
.tittle h4{
    font-family: mohol_ultra;
}
.ButtonsDownload button{
    width: 80%;
    padding: 4.75% 0;
    margin-top: 7%;
}
.BlackButton{
    background-color: black;
    color: white;
    border: none;
}
.BlackButton:hover{
    padding: 4.2% 0;
    border-width: 0.05rem;
    cursor: pointer;
    background-color: white;
    color: black;
}
.DownloadCardImg{
    width: 50%;
}
.Download{
    display: flex;
}
.Download_Card{
    display: flex;
    width: 50%;
}
.LineDown{
    width: 120%;
    margin: 1.5% 0;
}
.InvitationLine{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 5%;
}
.CreatorTittle{
    margin-top: 5%;
}
/* end of Graphic Design***************************/

/*Privacy Police*/
.Parraf h2{
    margin: 2% 0;
    margin-top: 7%;
}
.Parraf p:last-of-type{
    margin-bottom: 5%;
}
/*end of Privacy Police*/



/*Presentation Mob*/
.PresentationComp{
    background-color: #cecece;
    height: 100vh;
}
.network_div{
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 28%;
}
.LinkMob{
    width: 60%;
    margin-bottom: 50%;
}
.WhiteLogoMob{
    z-index: 6;
    width: 45%;
    padding-top: 8%;
    margin-left: 8%;
}
.Nav_menu_Mob{
    display: flex;
    justify-content: space-between;
}
.Burger_menu{
    width: 11.5%;
    margin-top: 12%;
    margin-right: 7%;
}
.Promo_Pic_Mob{
    margin-left: 37.5%;
}
#ed1Mob{
    position: fixed;
    left: 20%;
    width: 60%;
    top: -90%;
    animation-name: Ed1;
    animation-duration: 51s;
    z-index: 3;
    animation-iteration-count: infinite;
}
#ed2Mob{
    position: fixed;
    left: 20%;
    width: 60%;
    top: -90%;
    animation-name: Ed2;
    animation-duration: 51s;   
    z-index: 2;
    animation-iteration-count: infinite;
}
#ed3Mob{
    position: fixed;
    left: 20%;
    width: 60%;
    animation-name: Ed3;
    animation-duration: 51s;   
    z-index: 1;
    animation-iteration-count: infinite;
}
@keyframes Ed2 {
    0%{}
    29%{top: -90%;}/*sec 15*/
    33%{top: var(--to-animMob);} /*sec 17*/
    90%{visibility: hidden;}
    100%{top: var(--to-animMob);visibility: hidden;}
}
@keyframes Ed1 {
    0%{}
    63%{top: -90%;} /*sec 32*/
    67%{top: var(--to-animMob);} /*sec 34*/
    100%{top: var(--to-animMob);}
}
@keyframes Ed3 {
    0%{top: var(--to-animMob);z-index: 1;}
    32.5%{z-index: 1;}
    33%{top: var(--to-animMob); visibility: hidden;}
    34%{top: -90%; visibility: hidden;}
    96%{top: -90%;z-index: 4;}/*sec 49*/
    100%{top: var(--to-animMob);z-index: 4;}/*sec 51*/
}
#PresentationMenu{
    display: flex;
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: 7;
}

.CloseMenu{
    position: fixed;
    top: 0%;
    width: 18%;
    height: 100vh;
    backdrop-filter: blur(2.5px);
    background-color: rgba(39, 38, 38, 0.356);
    z-index: 8;
}
.CloseIcon{
    position: absolute;
    width: 65%;
    top: 5%;
    padding-left: 23%;
}
.Menu-div{
    background-color: white;
    position: sticky;
    height: 100vh;
    z-index: 7;
    left: 18%;
    width: 82vw;
}
.Stick{
    width: 30%;
    padding-top: 35%;
    margin-left: 70%;
}
.menuNav{
    margin-top: 10%;
}
.menuNav p{
    text-align: right;
}
.LinkMobile{
    margin-right: 15%;
    margin-top: 5%;
    font-size: 25px;
}
.Link2Follow{
    display: flex;
    position: absolute;
    bottom: 2%;
}
.LinksMenu{
    width: 60%;
    margin-left: 37%;
    margin-top: 15%;
}
.LinkArtMob{
    margin-right: 10%;
    margin-bottom: 10%;
}
/*end of Presentation Mob*/



/*Layout Phone*/
.PhoneHeader{
    display: flex;
    justify-content: space-between;
    
}
.logoPh{
    width: 50%;
    margin-left: -3%;
}
.MenuPh{
    width: 18%;
    margin-bottom: -1%;
    margin-top: 2%;
    margin-right: -7%;
}
.PhoneFooter{
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8% 0;
}
.Line1Foot{
    display: flex;
    justify-content: space-around;
    margin: 5% 0%;
}
.Line2Foot{
    display: flex;
    justify-content: space-around;
    margin: 3% -4%;
}
#TextFooterID{
    margin-left: -17.5%;
}
.TextFooter{
    line-height: 160%;
    font-size: 15px;
    font-family: mohol_thin;
}
/*end of Layout Phone*/


/*General Menu*/
.searchMob{
    width: 90%;
    padding-top: 15%;
    margin-left: 8%;
}
.Letter-divMob{
    width: 13.2%;
    margin-top: 48.5%;
    margin-left: 80%;
}
.input-searchMob::placeholder{
    font-size: 15px;
    width: 100%;
}
.input-searchMob{
    margin-left: 5%;
    width: 100%;
    border: none;
}
.to-searchMob{
    width: 20%;
    margin-top: 2%;
}
/*end of General Menu*/



/*MagazineMob*/
.MagazineMob{
    margin: 0 5%;
}
.big_rectMob{
    margin: 10% 0;
    margin-bottom: 2%;
}
.rectspeqsMob{
    display: flex;
    justify-content: space-between;
}
.RectPeqMob{
    width: 31%;
}
.lineasubtMob{
    width: 50%;
    margin-bottom: 5%;
}
.princ_derchMob{
    margin-top: 5%;
}
.DownloadbuttonMob{
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    margin: 10% 0;
    width: 42%;
    padding: 3.7%;
}
.linea_edicMob{
    margin: 2% 0;
}
/* end of MagazineMob*/






/*Good Search Mob*/

.Good_SearchMob{
    margin: 0 5%;
}
.PicSearchMob{
    margin-top: 8%;
    margin-bottom: 2%;
    width: 100%;
    height: 30vh;
    background-image: url('/Invited.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.resultsMob{
    margin-bottom: 10%;
}
.resultsMob h1{
    font-size: 18px;
    margin-top: 5%;
}
.tarjetaMob{
    width: 100%;
}
.tarjetaMob p{
    margin-bottom: 10%;
    margin-top: 3%;
}
/*end of Good Search Mob*/



/*Failed Search Mob*/
.failed_svgMob{
    width: 30%;
    margin: 23% 35%;
}
.FailedDivP{
    width: 60%;
    margin: 6% 20%;
}
.FailedDivP p{
    font-size: 20px;
}
.failedbuttonMob{
    font-size: 16px;
    border: none;
    color: white;
    background-color: black;
    padding: 3% 5%;
    margin-top: 15%;
    width: 80%;
}
/*end of Failed Search Mob*/



/*Newsletter*/
#Newsletter{
    display: none;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 8;
}
.form_letterMob{
    position: absolute;
    top: 35%;
    left: 20%;
    z-index: 6;
    width: 60%;
    background-color: white;
}
.placeholderMob{
    font-size: 12px;
}
.cont_formMob{
    text-align: center;
}
.cont_formMob input{
    width: 75%;
    margin: 3% 2%;
    padding: 2% 3%;
}
.cont_formMob input::placeholder{
    font-size: 10px;
}
.SuscribirMob{
    background-color: black;
    color: white;
    font-size: 10px;
    border: solid;
    border-color: black;
    margin: 5% 0;
    margin-bottom: 7%;
    width: 50%;
    padding: 1.5% 0;
}
.live_mailMob{
    padding: 0 10%;
    text-align: center;
    margin-bottom: 7.5%;
}
.live_mailMob p{
    font-size: 13px;
}
/*end of Newsletter*/



/*Graphic Design*/
.Invitation_cardMob{
    margin-top: -2%;
    width: 100%;
}
.invitedMob{
    width: 100%;
    height: 32vh;
    margin-bottom: 3%;
    margin-top: 15%;
    background-image: url('/Invited.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contenedorMob{
    margin: 0 5%;
}
.CategoryLabelPrincMob{
    position: relative;
    margin: -17% 0 20% 7.7%;
    width: 17%;
    padding: 0.5% 2%;
    background-color: white;
    font-size: 6.5px;
    font-family: mohol_regular;
    font-variant-caps: all-small-caps;
    text-align: left;
    color: black;
}
.TittleLabelPrincMob{
    position: relative;
    margin-top: -17.5%;
    margin-bottom: 8%;
    margin-left: 7.4%;
    width: 42%;
    padding: 1% 2%;
    background-color: white;
    color: black;
    font-size: 7.5px;
    font-family: mohol_bold;
    text-align: left;
}
.PrincLinkMob{
    margin-top: 5%;
    height: 37vh;
}
.NameLabelMob p{
    position: relative;
    font-size: 10px;
    padding: 0% 1.7% !important;
    padding-right: 0;
    margin-top: -13%;
    margin-left: 7%;
    margin-bottom: 7%;
    width: 25%;
    padding: 0%;
    background-color: white;
    color: black;
}
.PicByPrincMob{
    position: relative;
    font-family: cooper_black;
    transform: rotate(-90deg);
    margin-left: 75%;
    margin-right: -10%;
    top: 6.5%;
}
.DownloadCardImgMob{
    width: 60%;
}
.Download_CardMob{
    display: flex;
    width: 100%;
}
.Download_CardMob h1{
    font-size: 14px;
    margin-top: 10%;
}
.Download_CardMob h4{
    font-size: 8px;
}
.tittle_imageMob{
    margin-top: -1.5%;
    width: 92%;
    margin-left: -2.5%;
    margin-bottom: 5%;
}
.ButtonsDownloadMob button{
    width: 85%;
    padding: 9% 0;
    margin-top: 5%;
    font-size: 10px;
}
.ButtonsDownloadMob{
    margin-bottom: 5.5%;
}
.BlackButtonMob{
    background-color: black;
    color: white;
    border: none;
}
.BlackButtonMob:hover{
    padding: 9% 0;
    border-width: 0.05rem;
    cursor: pointer;
    background-color: white;
    color: black;
}
.TittleMob{
    display: flex;
}
.TittleMob h1{
    font-size: 23px;
    margin-top: 8%;
}
.LineDownloadMob{
    width: 33%;
    margin-left: 9%;
    margin-top: 15%;
    margin-bottom: 0%;
    margin-right: -4%;
}
.Invitation_cardMob{
    margin-top: 10%;
}
.CreatorTittleMob{
    margin-bottom: -7%;
    margin-top: -3%;
}
.CreatorTittleMob h1{
    font-size: 23px;
}
.LineDownloadMob2{
    width: 35%;
    margin-left: 7%;
    margin-top: 14%;
    margin-bottom: 0%;
    margin-right: -3.5%;
}
.LineDownMob2{
    margin: 15% 0% -3% 0%;
}
.InvitationLineMob{
    margin-bottom: 15%;
}
.CategoryLabelMob{
    position: relative;
    margin-top: -25%;
    margin-left: 14.1%;
    width: 23%;
    padding: 0.7% 2%;
    padding-top: 0%;
    background-color: white;
    font-size: 7px;
    font-family: mohol_regular;
    font-variant-caps: all-small-caps;
    text-align: left;
    color: black;
}
.TittleLabelMob{
    position: relative;
    margin-top: 2%;
    margin-left: 14.1%;
    width: 50%;
    padding: 2% 3%;
    background-color: white;
    color: black;
    font-size: 8px;
    font-family: mohol_regular;
    text-align: left;
}
/*end of Graphic Design*/



@media (min-width: 1400px){
    :root{
        --to-anim: 25%;
        --height-pic:60vh;
        --height-PrincPic:120vh;
    }
    .PicByPrinc{
        top: 5%;
    }
    
}

@media (min-width: 1100px){
    .TittleLabel{
        font-size: 20px;
    }
    .TittleLabelPrinc{
        font-size: 19px;
    }
}
@media (width: 1200px){
    :root{
        --to-anim: 25%;
        --height-pic:37vh;
        --height-PrincPic:80vh;
    }
    .PicBy{
        margin-bottom: -14%;
    }
    .fecha_public{
        font-size: 11px;
    }
}
@media (max-width: 1125px){

    :root{
        --to-anim: 15%;
        --height-pic:50vh;
        --height-PrincPic:77vh;
    }
    h1{
        font-size: 21px;
    }
    .contenedor_art h1{
        font-size: 36px;
    }

    h2{
        font-size: 14px;
    }
    h4{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
    .pie_foto{
        font-size: 9px;
    }
    .nav_bar h2{
        font-size:17px;
    }
    .fecha_public{
        font-size: 9px;
    }
    .Downloadbutton{
        cursor: pointer;
        margin-top: 17%;
        font-size: 11px;
    }
    .DownButt{
        font-size: 13px;
    }
    .Suscribir{
        font-size: 11px
    }
    .infofooter{
        display: flex;
        justify-content: space-between;
        padding: 2% 7%;
        background-color: #e1e1e1;
    }
    
    .infofooter p{
        font-size: 18px;
    }
    
    .infofooter a{
        font-size: 18px;
    }
    .infofooter span{
        font-size: 18px;
    }
    .span{
        font-size: 18px;
    }
    .inforev{
        padding-right: 15%;
        line-height: 20px;
    }
    .CategoryLabel{
        font-size: 16px;
    }
    .TittleLabel{
        font-size: 19px;
    }
    .CategoryLabelPrinc{
        font-size: 16px;
    }
    .TittleLabelPrinc{
        font-size: 24px;
    }
    

    .infofooter a{        
        font-size: 14px;
        
    }
    
    .infofooter span{
        font-size: 14px;
    }

    .infofooter p{
        font-size: 14px;
    }
    .span{
        font-size: 14px;
    }
    .failed-div{
        margin: 7% 0;
    }
    .the_next{
        font-size: 31px;
    }



    

    .titular_derch p{
        font-size: 14px;
        line-height: 22px;
    }
    li{
        font-size: 14px;
        line-height: 22px;   
    }
    .titular_izq h1{
        font-size: 31px;
    }
    .columna h2{
        font-size: 22px;
    }
    .columna p{
        font-size: 14px;
        line-height: 22px;
    }
    .placeholder::placeholder{
        font-size: 14px;
    }
    .contact_cont label{
        font-size: 17px;
    }
    .add {
        font-size: 15px;
    }
    .contact_cont p{
        font-size: 14px;
        line-height: 22px;
    }
    .contact_cont h1{
        font-size: 31px;
    }
    .send{
       font-size: 14px;
    }
    .container_peq p{
        line-height: 24px;
        font-size: 14px;
    }
    .tarjeta p{
        font-size: 18px;
    }
    .results h1{
        font-size: 22px;
    }

    
}

@media (max-width: 1080px){
    :root{
        --to-anim: 17%;
        --height-pic:45vh;
        --height-PrincPic:70vh;
    }
    h1{
        font-size: 20px;
    }
    .contenedor_art h1{
        font-size: 31px;
    }

    h2{
        font-size: 12.5px;
    }
    h4{
        font-size: 13px;
    }
    p{
        font-size: 11px;
    }
    .pie_foto{
        font-size: 8px;
    }
    .infofooter p{
        font-size: 17px;
    }
    .infofooter a{
        font-size: 17px;
    }
    .infofooter span{
        font-size: 17px;
    }
    .PicByPrinc{
        top: 9%;
    }
    .fecha_public{
        font-size: 8px;
    }
    .nav_bar h2{
        font-size:15px;
    }

    .Downloadbutton{
        cursor: pointer;
        margin-top: 10%;
        font-size: 10px;
    }
    .RectPeq{
        width: 60.9%;
    }
    .DownButt{
        font-size: 12px;
    }
    .Suscribir{
        font-size: 10px
    }

    .inforev{
        padding-right: 15%;
        line-height: 17px;
    }
    .CategoryLabel{
        font-size: 14px;
    }
    .TittleLabel{
        font-size: 17px;
    }
    .CategoryLabelPrinc{
        font-size: 16px;
    }
    .TittleLabelPrinc{
        font-size: 21px;
    }

    .infofooter a{        
        font-size: 13px;
        
    }
    .span{
        font-size: 13px;
    }
    .infofooter span{
        font-size: 13px;
    }
    .infofooter p{
        font-size: 13px;
    }
    .failed-div p{
        font-size: 19px;
  
    }
    .failedbutton{
        font-size: 15px;
        
    }
    .failed-div{
        margin: 10% 0;
    }
    .the_next{
        font-size: 28px;
    }

    

    .titular_derch p{
        font-size: 13px;
        line-height: 20px;
    }
    li{
           font-size: 13px;

        line-height: 20px;
           
    }
    .titular_izq h1{
        font-size: 28px;
    }
    .columna h2{
        font-size: 20px;
    }
    .columna p{
        font-size: 13px;
        line-height: 20px;
    }

    .placeholder::placeholder{
        font-size: 13px;
    }
    .contact_cont label{
        font-size: 16px;
    }
    .add {
        font-size: 14px;
    }
    .contact_cont p{
        font-size: 13px;
        line-height: 20px;
    }
    .contact_cont h1{
        font-size: 28px;
    }
    .send{
       font-size: 13px;
    }
    .container_peq p{
        line-height: 22px;
        font-size: 13px;
    }
    .tarjeta p{
        font-size: 16px;
    }
    .results h1{
        font-size: 20px;
    }
}

@media (max-width:980px){
    :root{
        --to-anim: 20%;
        --height-pic:43vh;
        --height-PrincPic:65vh;
    }
    h1{
        font-size: 18px;
    }
    .contenedor_art h1{
        font-size: 28px;
    }

    h2{
        font-size: 11px;
    }

    h3{
        font-size: 12px;
    }
    h4{
        font-size: 12px;
    }
    
    p{
        font-size: 10px;
    }
    .pie_foto{
        font-size: 7px;
    }
    .fecha_public{
        font-size: 6.5px;
    }
    .RectPeq{
        width: 60.7%;
    }
    .nav_bar h2{
        font-size:13px;
    }

    .Downloadbutton{
        cursor: pointer;
        margin-top: 10%;
        font-size: 10px;
    }

    .DownButt{
        font-size: 11px;
    }
    .Suscribir{
        font-size: 10px
    }

    .inforev{
        padding-right: 15%;
        line-height: 13px;
    }
    
    .CategoryLabel{
        font-size: 12px;
    }
    .TittleLabel{
        font-size: 14px;
    }
    .CategoryLabelPrinc{
        font-size: 15px;
    }
    .TittleLabelPrinc{
        font-size: 19px;
    }
    .infofooter a{        
        font-size: 11px;
        
    }
    .span{
        font-size: 11px;
    }
    .infofooter span{
        font-size: 11px;
    }
    .infofooter p{
        font-size: 11px;
    }
    .failed-div p{
        font-size: 20px;
  
    }
    .failedbutton{
        font-size: 12px;
        
    }
    .the_next{
        font-size: 23px;
    }


    
    .titular_derch p{
        font-size: 11px;
        line-height: 17px;
    }
    li{
        font-size: 11px;
        line-height: 17px;     
    }
    .titular_izq h1{
        font-size: 23px;
    }
    .columna h2{
        font-size: 17px;
    }
    .columna p{
        font-size: 11px;
        line-height: 17px;
    }

    .placeholder::placeholder{
        font-size: 11px;
    }
    .contact_cont label{
        font-size: 14px;
    }
    .add {
        font-size: 12px;
    }
    .contact_cont p{
        font-size: 11px;
        line-height: 17px;
    }
    .contact_cont h1{
        font-size: 23px;
    }
    .send{
       font-size: 11px;
    }
    .container_peq p{
        line-height: 18px;
        font-size: 11px;
    }
    .tarjeta p{
        font-size: 13px;
    }
    .results h1{
        font-size: 17px;
    }
}

@media (max-width:880px){
    :root{
        --to-anim: 24%;
        --height-pic:35vh;
        --height-PrincPic:63vh;
    }
    h1{
        font-size: 16px;
    }
    .contenedor_art h1{
        font-size: 25px;
    }

    h2{
        font-size: 10px;
    }
    
    h3{
        font-size: 12px;
    }
    h4{
        font-size: 10px;
    }
    p{
        font-size: 8px;
    }
    .pie_foto{
        font-size: 5px;
    }
    .live_mail p{
        font-size: 13px;
    }
    .fecha_public{
        font-size: 5px;
    }
    .RectPeq{
        margin-top: 3%;
        width: 60.9%;
    }
    .input-search{
        font-size: 10px;
    }

    .nav_bar h2{
        font-size:11px;
    }

    .Downloadbutton{
        cursor: pointer;
        margin-top: 5%;
        font-size: 9px;
    }

    .DownButt{
        font-size: 11px;
    }
    .Suscribir{
        font-size: 9px;
    }

    .inforev{
        padding-right: 15%;
        line-height: 13px;
    }
    
    .CategoryLabel{
        font-size: 10px;
    }
    .TittleLabel{
        font-size: 12px;
    }
    .CategoryLabelPrinc{
        font-size: 13px;
    }
    .TittleLabelPrinc{
        font-size: 16.5px;
    }
    .infofooter a{   
        font-size: 10px;    
    }
    .span{
        font-size: 10px;
    }
    .infofooter span{
        font-size: 10px;
    }
    .infofooter p{
        font-size: 10px;
    }
    .failed-div p{
        font-size: 18px;
  
    }
    .failedbutton{
        font-size: 10px;
        
    }
    .failed-div{
        margin: 13% 0;
    }
    .the_next{
        font-size: 23px;
    }


    
    .titular_derch p{
        font-size: 10px;
        line-height: 17px;
    }
    li{
           font-size: 11px;

        line-height: 17px;
           
    }
    .titular_izq h1{
        font-size: 23px;
    }
    .columna h2{
        font-size: 17px;
    }
    .columna p{
        font-size: 11px;
        line-height: 17px;
    }

    .placeholder::placeholder{
        font-size: 11px;
    }
    .contact_cont label{
        font-size: 14px;
    }
    .add {
        font-size: 12px;
    }
    .contact_cont p{
        font-size: 11px;
        line-height: 17px;
    }
    .contact_cont h1{
        font-size: 23px;
    }
    .send{
       font-size: 11px;
    }
    .container_peq p{
        line-height: 18px;
        font-size: 11px;
    }
    .tarjeta p{
        font-size: 13px;
    }
    .results h1{
        font-size: 17px;
    }
}

@media (max-width:750px){
    :root{
        --to-anim: 27%;
        --height-pic:30vh;
        --height-PrincPic:57vh;
    }
    h1{
        font-size: 14px;
    }
    .contenedor_art h1{
        font-size: 21px;
    }
    h2{
        font-size: 9px;
    }

    h3{
        font-size: 10px;
    }
    h4{
        font-size: 8px;
    }
    
    p{
        font-size: 8px;
    }
    .pie_foto{
        font-size: 5px;
    }

    .input-search{
        font-size: 8px;
    }
    .nav_bar h2{
        font-size:8px;
    }
    .fecha_public{
        font-size: 4px;
    }
    .RectPeq{
        width: 60.9%;
    }
    .Downloadbutton{
        cursor: pointer;
        margin-top: 5%;
        font-size: 8px;
    }
    .ButtonsDownload{
        margin-bottom: 2%;
    }
    .DownButt{
        font-size: 10.5px;
    }
    .Suscribir{
        font-size: 8px;
    }

    .inforev{
        padding-right: 15%;
        line-height: 11px;
    }
    
    .CategoryLabel{
        font-size: 8px;
    }
    .TittleLabel{
        font-size: 10px;
    }
    .CategoryLabelPrinc{
        font-size: 13px;
    }
    .TittleLabelPrinc{
        font-size: 14px;
    }
    .infofooter a{       
        font-size: 8px;
        
    }
    .span{
        font-size: 8px;
    }
    .infofooter span{
        font-size: 8px;
    }
    .infofooter p{
        font-size: 8px;
    }
    .failed-div p{
        font-size: 16px;
  
    }
    .failedbutton{
        font-size: 10px;
        
    }
    .failed-div{
        margin: 18% 0;
    }
    .failed-div{
        margin: 20% 0;
    }
    .the_next{
        font-size: 21px;
    }


    

    .titular_derch p{
        font-size: 9.5px;
        line-height: 15px;
    }
    li{
           font-size: 9px;;

        line-height: 15px;
           
    }
    .titular_izq h1{
        font-size: 21px;
    }
    .columna h2{
        font-size: 15px;
    }
    .columna p{
        font-size: 9px;
        line-height: 15px;
    }

    .placeholder::placeholder{
        font-size: 9px;
    }
    .contact_cont label{
        font-size: 12px;
    }
    .add {
        font-size: 10px;
    }
    .contact_cont p{
        font-size: 9px;
        line-height: 15px;
    }
    .contact_cont h1{
        font-size: 21px;
    }
    .send{
       font-size: 9px;
    }
    .container_peq p{
        line-height: 16px;
        font-size: 9px;
    }
    .tarjeta p{
        font-size: 12px;
    }
    .results h1{
        font-size: 15px;
    }
}

@media (max-width:640px){
    :root{
        --to-anim: 30%;
        --height-pic:27vh;
        --height-PrincPic:50vh;
    }
    h1{
        font-size: 12px;
    }
    .contenedor_art h1{
        font-size: 20px;
    }
    h2{
        font-size: 8px;
    }

    h3{
        font-size: 10px;
    }
    h4{
        font-size: 8px;
    }
    
    p{
        font-size: 7px;
    }
    .pie_foto{
        font-size: 4px;
    }

    .live_mail p{
        font-size: 10px;
    }
    .nav_bar h2{
        font-size:7px;
    }

    .Downloadbutton{
        cursor: pointer;
        margin-top: 10%;
        font-size: 8px;
    }
    .fecha_public{
        font-size: 3px;
    }
    .DownButt{
        font-size: 8px;
    }
    .Suscribir{
        font-size: 8px;
    }

    .inforev{
        padding-right: 15%;
        line-height: 10px;
    }
    

    .infofooter a{
        font-size: 7px;
        
    }
    .span{
        font-size: 7px;
    }
    .infofooter span{
        font-size: 7px;
    }
    .infofooter p{

        font-size: 7px;
    }
    .failed-div p{
        font-size: 16px;
  
    }
    .failedbutton{
        font-size: 8px;
        
    }
    .the_next{
        font-size: 21px;
    }


    .CategoryLabel{
        font-size: 6px;
    }
    .TittleLabel{
        font-size: 8px;
    }
    .CategoryLabelPrinc{
        font-size: 10px;
    }
    .TittleLabelPrinc{
        font-size: 13px;
    }
    .titular_derch p{
        font-size: 9px;
        line-height: 13px;
    }
    li{
        font-size: 9px;;
        line-height: 13px;
    }
    .titular_izq h1{
        font-size: 17px;
    }
    .columna h2{
        font-size: 15px;
    }
    .columna p{
        font-size: 9px;
        line-height: 15px;
    }

    .placeholder::placeholder{
        font-size: 9px;
    }
    .contact_cont label{
        font-size: 12px;
    }
    .add {
        font-size: 10px;
    }
    .contact_cont p{
        font-size: 9px;
        line-height: 15px;
    }
    .contact_cont h1{
        font-size: 21px;
    }
    .send{
       font-size: 9px;
    }
    .container_peq p{
        line-height: 16px;
        font-size: 9px;
    }
    .tarjeta p{
        font-size: 12px;
    }
    .results h1{
        font-size: 15px;
    }
}

@media (max-width:600px){
    :root{
        --height-pic:23vh;
        --height-PrincPic:43vh;
    }
    h1{
        font-size: 11px;
    }
    .contenedor_art h1{
        font-size: 16px;
    }
    h2{
        font-size: 7px;
    }

    h3{
        font-size: 10px;
    }
    h4{
        font-size: 7px;
    }
    p{
        font-size: 6px;
    }
    .pie_foto{
        font-size: 3px;
    }


    .fecha_public{
        font-size: 3px;
    }
    .nav_bar h2{
        font-size:6px;
    }

    .Downloadbutton{
        cursor: pointer;
        margin-top: 5%;
        font-size: 6px;
    }

    .DownButt{
        font-size: 7px;
    }
    .Suscribir{
        font-size: 6px;
    }

    .inforev{
        padding-right: 15%;
        line-height: 10px;
    }
    
    .CategoryLabel{
        font-size: 6px;
    }
    .TittleLabel{
        font-size: 8px;
    }
    .CategoryLabelPrinc{
        font-size: 8px;
    }
    .TittleLabelPrinc{
        font-size: 11px;
    }
    .infofooter a{
        font-size: 6px;
        
    }
    .span{
        font-size: 6px;
    }
    .infofooter span{
        font-size: 6px;
    }

    .infofooter p{

        font-size: 6px;
    }
    .failed-div{
        margin: 25.5% 0;
    }
    .the_next{
        font-size: 19px;
    }



    .RectPeq{
        width: 61%;
    }
    .titular_derch p{
        font-size: 8.5px;
        line-height: 13px;
    }
    li{
        font-size: 8.5p;
        line-height: 13px;
    }
    .titular_izq h1{
        font-size: 14px;
    }
    .columna h2{
        font-size: 13px;
    }
    .columna p{
        font-size: 8.5px;
        line-height: 13px;
    }

    .placeholder::placeholder{
        font-size: 8.5px;
    }
    .contact_cont label{
        font-size: 11px;
    }
    .add {
        font-size: 9px;
    }
    .contact_cont p{
        font-size: 8px;
        line-height: 13px;
    }
    .contact_cont h1{
        font-size: 19px;
    }
    .send{
       font-size: 8.5px;
    }
    .container_peq p{
        line-height: 15px;
        font-size: 8.5px;
    }
    .tarjeta p{
        font-size: 11px;
    }
    .results h1{
        font-size: 13px;
    }
}

@media (max-width:520px){
    :root{
        --to-anim: 35%;
        --height-pic:20vh;
    }
    h1{
        font-size: 8px;
    }
    h2{
        font-size: 6px;
    }

    h3{
        font-size: 10px;
    }
    h4{
        font-size: 6px;
    }
    p{
        font-size: 6px;
    }
    .pie_foto{
        font-size: 3px;
    }

    .fecha_public{
        font-size: 3px;
    }
    .RectPeq{
        width: 60.9%;
    }
    .nav_bar h2{
        font-size:6.2px;
    }

    .Downloadbutton{
        cursor: pointer;
        margin-top: 8%;
        font-size: 5px;
    }
    .ButtonsDownload{
        margin-bottom: 4.5%;
    }
    .DownButt{
        font-size: 6px;
    }
    .Suscribir{
        font-size: 5px;
    }

    .inforev{
        padding-right: 15%;
        line-height: 8px;
    }
    

    .infofooter a{
        font-size: 5px;
        
    }
    .span{
        font-size: 5px;
    }
    .infofooter span{
        font-size: 5px;
    }
    .infofooter p{

        font-size: 5px;
    }
    .failed-div{
        margin: 29% 0;
    }
    .the_next{
        font-size: 18px;
    }

    .RectPeq{
        margin-top: 2%;
        margin-left: 4%;
    }
    
    .titular_derch p{
        font-size: 8px;
        line-height: 12px;
    }
    li{
        font-size: 8px;
        line-height: 12px;
    }
    .titular_izq h1{
        font-size: 14px;
    }
    .columna h2{
        font-size: 12px;
    }
    .columna p{
        font-size: 8px;
        line-height: 12px;
    }
    .TittleLabelPrinc{
        font-size: 10px;
    }
    input::placeholder{
        font-size: 5px;
    }
    .contact_cont label{
        font-size: 10px;
    }
    .add {
        font-size: 8px;
    }
    .contact_cont p{
        font-size: 8px;
        line-height: 12px;
    }
    .contact_cont h1{
        font-size: 18px;
    }
    .send{
       font-size: 8px;
    }
    .container_peq p{
        line-height: 14px;
        font-size: 8px;
    }
    .tarjeta p{
        font-size: 10px;
    }
    .results h1{
        font-size: 12px;
    }
}

.footerPh{
    display: none;
}
.headerPh{
    display: none;
}
.PresentationComp{
    display: none;
}
.LayoutPhone{
    display: none;
}
.MagazineMob{
    display: none;
}
.Good_SearchMob{
    display: none;
}
.Failed_SearchMob{
    display: none;
}
.GraphicDesignMob{
    display: none;
}

@media (max-width: 500px){

    h1{
        font-size: 23px;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 14px;
        line-height: 150%;
    }

    .Magazine{
        display: none;
    }
    .Presentation{
        display: none;
    }
    .Good_Search{
        display: none;
    }
    .Failed_Search{
        display: none;
    }
    .Graphic_Design{
        display: none;
    }
    .About_Us{
        display: none;
    }
    .Article{
        display: none;
    }
    .Industrial_Design{
        display: none;
    }
    .Creators{
        display: none;
    }
    .Architecture{
        display: none;
    }
    .Privacy_Police{
        display: none;
    }
    .header-div{
        display: none !important;
    }
    .infofooter{
        display: none !important;
    }


    .footerPh{
        display: block;
    }
    .headerPh{
        display: block;
    }
    .PresentationComp{
        display: block;
    }
    .LayoutPhone{
        display: block;
    }
    .MagazineMob{
        display: block;
    }
    .Good_SearchMob{
        display: block;
    }
    .Failed_SearchMob{
        display: block;
    }
    .GraphicDesignMob{
        display: block;
    }
    
}
@media(height:640px){
    .Letter-divMob{
        margin-top: 45% !important;
    }
}

@media(height:667px){
    .Letter-divMob{
        margin-top: 47% !important;
    }
}
@media(min-height:731px){
    .Letter-divMob{
        margin-top: 53% !important;
    }
}
@media(max-height:480px){
    .Letter-divMob{
        margin-top: 5%;
    }
}
@media(min-height:568px){
    .Letter-divMob{
        margin-top: 35%;
    }
}
@media(min-height:800px){
    .Letter-divMob{
        margin-top: 90% !important;
    }
}
@media(min-height:820px){
    .Letter-divMob{
        margin-top: 80% !important;
    }
}